.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  background-color: white;
  }
.nav-link{
color: black;
font-size: 1rem;
font-weight: 700;
cursor: pointer;
text-decoration: none;
  }
.nav-link:hover{
color: white;
background-color:#84cc41; ;
  }
.navbar-brand{
font-size: 1.25rem;
font-weight: 800;
color: black;
cursor: pointer;
text-decoration: none;
}
 .nav-tabs {
   border-bottom: 1px solid #4e5d6c;
 }
ul{
  margin-left: 20vw;
}
li{
  margin-left: 10vw;
}
.home{
  background-image: url("./Bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.input{
  margin-top: 30vh;
  width: 40vw;
  margin-left: 20vw;
}
#ph{
  margin-top: 20vh;

}
.menu{
  background-color: rgb(255, 255, 255);
  
  
}
.afficher{
  background-color: #282c34;
}
.css{
  position: relative;
  display: flex;
  transform-style: preserve-3d;
  transform: rotate(0deg) skew(25deg);
  
}
.css .csss{
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  margin: 0 10px;

}

.css .csss span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgb(235, 224, 224);
  color: rgba(255, 255, 255, 0.2);
  font-size: 30px;
}
.css .csss:hover span{
  z-index: 1000;
  transition: 0.5s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}
#css .csss:hover span:nth-child(5){
  transform: translate(40px,-40px);
  opacity: 1;
}
.css .csss:hover span:nth-child(4){
  transform: translate(30px,-30px);
  opacity: 0.6;
}
.css .csss:hover span:nth-child(3){
  transform: translate(20px,-20px);
}
.css .csss:hover span:nth-child(2){
  transform: translate(10px,-10px);
  opacity:0.4 ;
}
.css .csss:hover span:nth-child(1){
  transform: translate(0px,0px);
  opacity: 0.2;
}
.css .csss:nth-child(1):hover span{
  background: #3b5999;
}
.css .csss:nth-child(2):hover span{
  background: #55acee;
}
.css .csss:nth-child(3):hover span{
  background: #e4405e;
}
.css .csss:nth-child(4):hover span{
  background: lemonchiffon;
}
.css .csss:nth-child(5):hover span{
  background: #3b5999;
}
.S{
  width: 270px;
}
.compenent{
  background-image: url('bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
